@model Metomarket.Web.ViewModels.Products.ProductCreateOrderViewModel

@{
    ViewData["Title"] = "Create Order";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<section class="mt-4">
    <form asp-action="CreateOrder" class="form mx-auto mw-30r">
        <div class="form-group">
            <label asp-for="Name"></label>
            <label class="input-wrapper">
                <input value="@Model.Name" disabled />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <label class="input-wrapper">
                <input value="$@($"{Model.Price:f2}")" disabled />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Input.Quantity"></label>
            <label class="input-wrapper">
                <input asp-for="Input.Quantity" name="@nameof(Model.Input.Quantity)" min="1" value="1" placeholder="Quantity to order . . ." />
            </label>
            <span asp-validation-for="Input.Quantity" class="text-danger"></span>
        </div>

        <input asp-for="Input.ProductId" type="hidden" name="@nameof(Model.Input.ProductId)" value="@Model.Id" />

        <div class="text-center">
            <input type="submit" value="Add to Cart" />
        </div>
    </form>
</section>