@model Metomarket.Web.ViewModels.Products.ProductsListViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Metomarket. Happy shopping!</h1>
</div>

<div class="mt-4">
    <section class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-sm-6 col-md-3 col-xl-2 mb-3 d-flex">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name image">
                    <div class="card-body d-flex align-items-center flex-column">
                        <h4 class="card-title text-center">@product.Name</h4>
                        <h5 class="product-type font-italic">@product.TypeName</h5>
                        <p class="card-text">Description</p>
                        <p>$@($"{product.Price:f2}")</p>
                        <a asp-area="Market" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary stretched-link mt-auto">Details</a>
                    </div>
                </div>
            </div>
        }
    </section>
</div>