@model Metomarket.Web.ViewModels.Dashboard.DashboardIndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
    this.ViewData["ActivePage"] = AdminNavPages.Dashboard;
}

<section class="dashboard-index container-fluid">
    <div class="row">
        <table class="table table-dark table-striped table-hover col-md-8 rounded mx-auto">
            <thead>
                <tr class="text-center1">
                    <th>Entity</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Contract</td>
                    <td id="contractsCount">@Model.ContractsCount</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>@Model.OrdersCount</td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>@Model.ProductsCount</td>
                </tr>
                <tr>
                    <td>Product Type</td>
                    <td>@Model.ProductTypesCount</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td id="usersCount">@Model.UsersCount</td>
                </tr>
            </tbody>
        </table>

        <div class="alerts col-md-8 mx-auto"></div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/dashboard.js"></script>
}